<div gridster>
    <ul>
        <li gridster-item="o" ng-repeat="o in items" >
            <widget style="background: {{o.background}}" ng-if="!o.flip">
                <i ng-if="o.icon" class="fa fa-{{o.icon}}"></i>
                <div class="item" ng-init="item = o" ng-if="!!o.widget" ng-include="'widgets/'+o.widget+'/widget.html'"></div>
            </widget>

            <div class="flipperContainer"
                 ontouchstart="this.classList.toggle('hover');"
                 interval="{{o.flip.interval}}"
                 ng-if="o.flip" >
                <div class="flipper" >
                    <div class="front">
                        <widget style="background: {{o.flip.front.background}}">
                            <i ng-if="o.flip.front.icon" class="fa fa-{{o.flip.front.icon}}"></i>
                            <div ng-if="!!o.flip.front.widget"
                                 ng-init="item = o.flip.front"
                                 class="item"
                                 ng-include="'widgets/'+o.flip.front.widget+'/widget.html'"></div>
                        </widget>
                    </div>
                    <div class="back">
                        <widget style="background: {{o.flip.back.background}}">
                            <i ng-if="o.flip.back.icon" class="fa fa-{{o.flip.back.icon}}"></i>
                            <div ng-if="!!o.flip.back.widget"
                                 ng-init="item = o.flip.back"
                                 class="item"
                                 ng-include="'widgets/'+o.flip.back.widget+'/widget.html'"></div>
                        </widget>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>